{% load static %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'viewer/styless.css' %}">
</head>
<body>
    <header class="headContainer">
        <img class="headContainer-part" alt="Venom" src="{% static 'viewer/images/venom' %}">
        <a href="{% url 'index' %}"  class="headContainer-center"><h1>Universe of cinematography</h1></a>
        <img class="headContainer-part" alt="Yoda" src="{% static 'viewer/images/Yoda-green' %}">
    </header>
    <nav class="navContainer">
        {% if request.user.is_authenticated %}
            Přihlášen jako: {{ request.user.username }}
            <a href="{% url 'logout' %}"><button id="button-logout">Logout</button></a>
        {% else %}
            <a href="{% url 'signup' %}"><button id="button-signup">Register</button></a>
            <a href="{% url 'login' %}"><button id="button-login">Login</button></a>
        {% endif %}
        {% if request.user.is_superuser %}
            <a href="/admin/"><button>Admin</button></a>
        {% endif %}
    </nav>
    <nav class="navContainer2">
        <a href="{% url 'News' %}"><button>News in Cinemas</button></a>
        <a href="{% url 'NewsOnDVD' %}"><button>News on DVD</button></a>
        <a href="{% url 'movies' %}"><button>Movies</button></a>
        <a href="{% url 'actors' %}"><button>Actors</button></a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'movie_create' %}"><button>Create Movie</button></a>
            {% if perms.viewer.add_person  %}
                <a href="{% url 'person_create' %}"><button>Create Person</button></a>
            {% endif %}
            <a href="{% url 'administration' %}"> <button>Administrace</button></a>
        {% endif %}
        <button>Movie Shop</button>
        <button>Merchandise Store</button>
    </nav>
    <main>
        <h2>Welcome to our outstanding page about the best of Cinematography.<span id="date-time"></span></h2>
        {% block content %}{% endblock %}
    </main>
    <footer>Copyright Created by Marcel Jurčák 2.12.2023</footer>
    <script src="{% static 'viewer/script.js' %}"></script>
</body>
</html>
