{% load static %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'viewer/styles.css' %}">
</head>
<body>
    <header class="headContainer">
        <img class="headContainer-part" alt="Iron-spiderman" src="{% static 'images/venom.jpg' %}">
        <a href="{% url 'index' %}"  class="headContainer-center"><h1>Universe of cinematography</h1></a>
        <img class="headContainer-part" alt="Yoda" src="{% static 'images/Yoda-green.jpg' %}">
    </header>
    <nav class="navContainer">
            <a href=""><button id="button-logout">Logout</button></a>
            <a href=""><button id="button-signup">Register</button></a>
            <a href=""><button id="button-login">Login</button></a>
            <a href=""><button id="button-admin">Admin</button></a>
    </nav>
    <nav class="navContainer2">
        <a href=""><button>Novinky v kinech</button></a>
        <a href=""><button>Novinky na DVD</button></a>
        <a href=""><button>Filmy</button></a>
        <a href=""><button>Seriály</button></a>
        <a href=""><button>Herci/Řežiséři</button></a>
        <a href=""><button>Administrace</button></a>
        <a href=""> <button>Diskuse</button></a>
    </nav>
    <main>
        <h2>Vítejte na naší skvělé stránce o filmech. <span id="date-time"></span></h2>
        {% block content %}{% endblock %}
    </main>
    <footer>Copyright Created by Marcel Jurčák 2.12.2023</footer>
    <script src="{% static 'viewer/script.js' %}"></script>
</body>
</html>
